@import 'tailwindcss';

html {
  font-family:
    Menlo,
    Monaco,
    Lucida Consolas,
    'Courier New',
    Courier,
    monospace;
  background: white;
  letter-spacing: -0.02rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:
    system-ui, --apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif;
}

p {
  color: #888;
  font-size: 0.8rem;
  line-height: 1.5;
  margin: 0;
  text-wrap: pretty;
}
